<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847304850303-sqc4ra04i26gskcrn5o1ju2k2snr9oak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847304850303-sqc4ra04i26gskcrn5o1ju2k2snr9oak</string>
	<key>API_KEY</key>
	<string>AIzaSyCOwPGwcGBE-YuN6T2v08oxJq4-LnI0aac</string>
	<key>GCM_SENDER_ID</key>
	<string>847304850303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-4edfd</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-4edfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847304850303:ios:11323d2a2c5e2fc490b84a</string>
</dict>
</plist>